.praporBlue {
  background-color: #06c;
  height: 10px;
}

.praporYellow {
  background-color: #fc0;
  height: 10px;
}

.titleLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.titleLine > h1 {
  flex-grow: 1;
}
